
* {
    font-family: 'Raleway', sans-serif;
    color: #323E42;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #EFDCF9;
    /* background-image: linear-gradient(315deg, #a88beb 0%, #f8ceec 74%); */
}

ul li::before {
    content: "\2022";
    color: #861657;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Sidebar */
.sidebar {
    background-color: #323E42;
    /* background-image: linear-gradient(315deg, #a88beb 0%, #f8ceec 74%); */
    width: 180px;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 10px 5px 7px rgba(0, 0, 0, 0.315);
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3vw;
}

.sidebar a:active {
    background-color: #fff;
    color: #323E42;
}

.sidebar a:hover {
    background-color: #fff;
    color:  #323E42;
}

#slack-name {
    font-size: 36px;
    color: #EFDCF9;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

#slack-name:hover {
    color: #323E42;
}

/* Content */
.content h2 {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 28px;
    color: #7954A1;
    font-family: 'Dancing Script', cursive;
}

div.content {
    margin-left: 180px;
    padding: 1px 16px;
    height: 100%;
}

footer.content {
    margin-left: 180px;
    padding: 1px 16px;
    height: 100%;
}

/* Bio */
#bio {
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    text-align: center;
    /* background-color: #ffa69e; */
}

h1 {
    font-size: 32px;
    line-height: 10px;
    color: #7954A1;
    font-family: 'Dancing Script', cursive;
}

#bio h3 {
    font-size: 21px;
    font-weight: 400;
    color: white;
}

#bio p {
    font-size: 15px;
    color: #323E42;
    line-height: 22.5px;
    font-weight: 500;
}

#bio img {
    border-radius: 50%;
    box-shadow: 10px 10px 5px 7px rgba(124, 123, 123, 0.288);
}
.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact a {
    text-decoration: none;
    color: black;
}

.fas, .fab {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #7954A1;
    /* background-image: linear-gradient(315deg, #a88beb 0%, #f8ceec 74%); */
    position: relative;
    margin: 0px 10px;
}

.fas:hover, .fab:hover {
    background-color: #fff;
    color: #7954A1;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.315);
}

.cv-link {
    text-decoration: none;
    color: white;
    background-color:#323E42;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 10px;
}

.cv-link:hover {
    color: #C55FFC;
    background-color: white;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}
/* Experience */
#experience {
    padding: 20px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}

#experience h3 {
    color: #C55FFC;
    line-height: 19.2px;
}

#experience p {
    font-size: 14px;
    color:#EFDCF9;
}

#experience h4 {
    font-size: 15px;
    line-height: 16px;
    color: #EFDCF9;
}

#experience ul {
    padding-left: 15px;
    list-style: none;
    line-height: 20px;
    font-size: 13px;
}

.work-experience {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .dot-1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #861657;
    display: block;
    position: absolute;
    top: ;
    left: ;
    z-index: 100;
}

.dot-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #861657;
    display: block;
    position: relative;
    top: 23px;
    right: 6px;
    z-index: 100;
} 
.line-1 {
    width: 1px;
    height: 150px;
    background-color: black;
    display: block;
    position: relative;
    top: 25px;
    right: 27px;
    z-index: 50;
}

.line-2 {
    width: 1px;
    height: 150px;
    background-color: black;
    display: block;
    position: relative;
    top: 25px;
    right: 35px;
    z-index: 50;
}*/


/* Education */
#education {
    padding: 20px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}

.education {
    display: flex;
}

 #education h3 {
    line-height: 19.2px;
    margin-left: 70px;
    color: #C55FFC;
}

#education p {
    font-size: 14px;
    color: #EFDCF9;
    margin-left: 70px;
}

#education ul {
    margin-left: 70px;
    padding-left: 15px;
    list-style: none;
    line-height: 20px;
    font-size: 14px;
}

/* .dot-3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #861657;
    display: block;
    position: relative;
    top: 23px;
    left: 20px;
    z-index: 100;
}

 .line-3 {
    width: 1px;
    height: 120px;
   background-color: black;
    display: block;
    position: relative;
    top: 25px;
    left: 15px;
    z-index: 90;
}  */

/* Skills*/
#skills {
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills ul {
    margin-left: 80px;
    padding-left: 15px;
    list-style: none;
    line-height: 25px;
    font-size: 15px;
}

/* Coding Proficiency*/
 #coding-proficiency {
    padding: 20px;
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}

#coding-proficiency ul {
    margin-left: 80px;
    padding-left: 15px;
    list-style: none;
    line-height: 60px; 
    position: relative;
    bottom: 20px;
    font-size: 14px;
}

.html-outer, .css-outer, .js-outer {
    width: 75%;
    height: 20px;
    background-color: lightgrey;
    border-radius: 5px;
}

.html-inner, .css-inner, .js-inner {
    display: block;
    width: 90%;
    height: inherit;
    background-color:#323E42;
    /* background-image: linear-gradient(315deg, #a88beb 0%, #f8ceec 74%); */
    border-radius: 5px;
}

.html-inner span, .css-inner span, .js-inner span {
    position: relative;
    bottom: 20px;
    left: 85%;
    margin: auto;
    color: white;
}

.css-inner {
    width: 80%;
}

.css-inner span {
    left: 82%;
}

.js-inner {
    width: 50%;
}

.js-inner span {
    left: 70%;
}


/* Certification */
#certification {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.315);
}

#certification ul {
    margin-left: 80px;
    padding-left: 15px;
    list-style-type: circle;
    line-height: 30px;
    font-size: 14px;
}

/* Sponsors */
#sponsors {
    padding: 10px 0px;
    padding-left: 20px;
    /* margin-bottom: 100px; */
}

#sponsors p {
    text-align: center;
    font-size: 15px;
}

#sponsors img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 30%;
    margin: auto;
}

#sponsors a {
    text-decoration: none;
    color: #861657;
}

/* Media Queries */
@media only screen and (max-width: 1350px) {
    .dot-1, .dot-2, .line-1, .line-2 {
        display: none;
    }
}

@media only screen and (max-width: 965px) {
    .sidebar a {
        font-size: 2vw;
    }
}